<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="tradeaze_api_integration_observer_checkout_submitbefore_checkout_submit_before"
                  instance="Tradeaze\ApiIntegration\Observer\Checkout\SubmitBefore"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="tradeaze_apiintegration_observer_sales_orderplaceafter_sales_order_place_after"
                  instance="Tradeaze\ApiIntegration\Observer\Sales\OrderPlaceAfter"/>
    </event>
</config>
