.admin__page-nav._collapsed.tradeaze-tab .title,
.admin__page-nav._collapsed._show.tradeaze-tab .title {
    background-image: url('../Tradeaze_ApiIntegration/images/tradeaze.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    text-indent: 35px;
}